/* ----> Variables <----*/
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-hd-btt: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--paragraphs);
    padding-bottom: 40px;
}

.container{
    padding: 30px;
}

.card1{
    background: var(--bright-orange);
    padding: 40px;
    border-radius: 10px 10px 0 0;
}

.card1 img{
    margin-bottom: 20px;
}

.card1 .title-sedans{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 35px;
    color: var(--bg-hd-btt);
    text-transform: uppercase;
    padding: 15px 0;
}

.bttn-sedans{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bright-orange);
    background: var(--bg-hd-btt);
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 145px;
}

.bttn-sedans:hover{
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--bg-hd-btt);
    color: var(--bg-hd-btt);
}

.card2{
    background: var(--dark-cyan);
    padding: 40px;
}

.card2 img{
    margin-bottom: 20px;
}

.card2 .title-suvs{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 35px;
    color: var(--bg-hd-btt);
    text-transform: uppercase;
    padding: 15px 0;
}

.bttn-suvs{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--dark-cyan);
    background: var(--bg-hd-btt);
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 145px;
}

.bttn-suvs:hover{
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--bg-hd-btt);
    color: var(--bg-hd-btt);
}

.card3{
    background: var(--very-dark-cyan);
    padding: 40px;
    border-radius: 0 0 10px 10px;
}

.card3 img{
    margin-bottom: 20px;
}

.card3 .title-luxury{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 35px;
    color: var(--bg-hd-btt);
    text-transform: uppercase;
    padding: 15px 0;
}

.bttn-luxury{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--very-dark-cyan);
    background: var(--bg-hd-btt);
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 145px;
}

.bttn-luxury:hover{
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--bg-hd-btt);
    color: var(--bg-hd-btt);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 900px;
        margin: auto;
    }

    .card1{
        border-radius: 10px 0 0 10px;
    }

    .card3{
        border-radius: 0 10px 10px 0;
    }

    p{
        margin-top: 20px;
        margin-bottom: 50px;
    }
}